@model IEnumerable<SalesRecord>

@{
    ViewData["Title"] = "Sales";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 div-padding">
            <h1>@ViewData["Title"]</h1>
        </div>
        <div class="col-md-9 div-padding">
            <div class="d-flex justify-content-end align-items-center gap-2">
                <form asp-action="Search" class="d-flex gap-2">
                    <input type="date" name="minDate" class="form-control input-lg" />
                    <input type="date" name="maxDate" class="form-control input-lg" />
                    <button type="submit" class="btn btn-info btn-lg">Search</button>
                </form>
                <a class="text-white btn btn-success btn-lg btn-size" style="text-decoration:none" asp-action="Create">Create new</a>
            </div>
        </div>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seller)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-light">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.Seller.Name)
                </td>
                <td class="text-align-end">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>